<div style="padding: 13px;">
  <mat-card *ngFor="let movie of movieResponse.docs" style="margin-top:10px;">
      <mat-card-header>
          <mat-card-title>{{movie.title}}</mat-card-title>
          <mat-card-subtitle>{{movie.director}} / {{movie.year}}
          </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>
              {{movie.genre}}
          </p>
          <div *ngFor="let actor of movie.actors">
            {{ actor }}
          </div>
      </mat-card-content>
  </mat-card>
  <p> Page: {{movieResponse.page}}</p>
  <button mat-button (click)="changePage(false)"> Prev page </button>
  <button mat-button (click)="changePage(true)"> Next page </button>
</div>
