<div style="padding: 13px;">
<form [formGroup]="form">
  <div>Filter by title: <input formControlName="title"></div>
</form>


  <!-- <button mat-raised-button (click)="filterByTitle()"> Filter </button> -->

    <mat-card *ngFor="let movie of movieResponse.docs" [routerLink]="'/movies/' + movie._id" style="margin-top:10px;">
      <mat-card-header>
          <mat-card-title>{{movie.title}}</mat-card-title>
          <mat-card-subtitle>{{movie.director}} / {{movie.year}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>
              {{movie.genre}}
          </p>
          <div *ngFor="let actor of movie.actors">
            {{ actor }}
          </div>
      </mat-card-content>
  </mat-card>
  <p> Page: {{movieResponse.page}}</p>
  <button mat-raised-button (click)="changePage(false)"> Prev page </button>
  <button mat-raised-button (click)="changePage(true)"> Next page </button>
</div>
